# Created by https://www.gitignore.io

### Gradle ###
.gradle
build/
maven/

# Ignore Gradle GUI config
gradle-app.setting
local.properties


# Various auxiliary directories
bin
.idea
.vscode
.classpath
.project
.settings/