# Created by https://www.gitignore.io

### Gradle ###
.gradle
build/
maven/

# Ignore Gradle GUI config
gradle-app.setting
local.properties


# Various auxiliary directories and files
bin
.idea
.vscode
.classpath
.project
.settings/
node-compile-cache/
.DS_Store

# Kotlin 2.x incremental compile cache
.kotlin/